@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End position */
    }
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}